on init
    chown system system /sys/class/backlight/panel0-hbm/brightness
    chown system system /sys/class/dsi_hbm/hbm/enable
    chmod 0660 /sys/class/backlight/panel0-hbm/brightness
    chmod 0660 /sys/class/dsi_hbm/hbm/enable

service vendor.livedisplay-hal-2-1 /vendor/bin/hw/vendor.lineage.livedisplay@2.1-service.lenovo_msmnile
    class hal
    user system
    group system
