on init
    chown system system /sys/devices/platform/soc/soc:qcom,dsi-display-primary/dimlayer_bl
    chmod 0666 /sys/devices/platform/soc/soc:qcom,dsi-display-primary/dimlayer_bl
    chown system system /sys/devices/platform/soc/soc:qcom,dsi-display-primary/dimlayer_hbm
    chmod 0666 /sys/devices/platform/soc/soc:qcom,dsi-display-primary/dimlayer_hbm

service fingerprint-inscreen-1-0 /vendor/bin/hw/vendor.lineage.biometrics.fingerprint.inscreen@1.0-service.lenovo_msmnile
    interface vendor.lineage.biometrics.fingerprint.inscreen@1.0::IFingerprintInscreen default
    class hal
    user system
    group system
    shutdown critical
